.header {
  padding: 20px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  background-color: var(--gray-color-140);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--gray-color-100);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
