:root {
  background-color: var(--dark-color-100);
  min-height: 100dvh;
}

body {
  color: var(--gray-color-100);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-main);
  font-weight: var(--weight-font-md);
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: calc(var(--header-height, var(--calback-header-height)) + 20px);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg,
  img {
    width: var(--icon-base);
    height: var(--icon-base);
  }

  &--big {
    svg,
    img {
      width: var(--icon-md);
      height: var(--icon-md);
    }
  }
}
